  /* Styles pour chaque intervalle de taille */
  /* Extra small devices (téléphones, 0px et jusqu'à 575px) */
  @media (max-width: 575px) {
    body {
      /* background-color: lightblue; */
    }

    nav ul {
      visibility: hidden;
    }

    .main-menu {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 80px;
      left: 0;
      background-color: #f9f9f9;
      width: 100%;
      padding: 20px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .main-menu li {
      margin: 10px 0;
    }

    .menu-toggle {
      display: block;
      padding-right: 40px;
      color: white;
    }

    nav {
      width: 100%;
      max-width: 100%;
    }

    .restau_l {
      display: flex;
      flex-direction: column;
    }

    .restau_card {
      width: 100%;
      max-width: 100%;
      margin-bottom: 20px;
    }

    .restau_card img {
      width: 100%;
      height: auto;
    }
  }

  /* Small devices (tablettes, 576px et jusqu'à 767px) */
  @media (min-width: 576px) and (max-width: 767px) {
    body {
      /* background-color: lightgreen; */
    }


    .main-menu {
      display: none;
    }

    .menu-toggle {
      display: block;
    }


    .restau_l {
      display: flex;
      flex-direction: column;
    }

    .restau_card {
      width: 100%;
      max-width: 100%;
      margin-bottom: 20px;
    }

    .restau_card img {
      width: 100%;
      height: auto;
    }

    /* //about */

    .overview {
      display: flex;
      flex-direction: column;
    }

    .menu {
      width: 100%;
      max-width: 100%;
      margin-bottom: 20px;
    }

    .reservation {
      width: 100%;
      max-width: 100%;
      margin-bottom: 20px;
      margin-left: 0px;
    }
  }

  /* Medium devices (desktops, 768px et jusqu'à 991px) */
  @media (min-width: 768px) and (max-width: 991px) {
    .main-menu {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 80px;
      left: 0;
      background-color: #f9f9f9;
      width: 100%;
      padding: 20px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .main-menu li {
      margin: 10px 0;
    }

    .menu-toggle {
      display: block;
    }

    body {
      /* background-color: lightcoral; */
    }

    nav ul {
      visibility: hidden;
    }

    .hero {
      visibility: hidden;
    }

    .restau_l {
      display: flex;
      flex-direction: column;
    }

    .restau_card {
      width: 100%;
      max-width: 100%;
      margin-bottom: 20px;
    }

    .restau_card img {
      width: 100%;
      height: auto;
    }
  }

  /* //about */

  .overview {
    display: flex;
    flex-direction: column;
  }

  .menu {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }

  .reservation {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    margin-left: 0px;
  }

  /* Large devices (desktops, 992px et jusqu'à 1199px) */
  @media (min-width: 992px) and (max-width: 1199px) {
    body {
      /* background-color: lightyellow; */
    }

    .restau_l {
      display: flex;
      flex-direction: column;
    }

    .restau_card {
      width: 100%;
      max-width: 100%;
      margin-bottom: 20px;/
    }

    .restau_card img {
      width: 100%;
      height: auto;
    }

    /* //about */

    .overview {
      display: flex;
      flex-direction: column;
    }

    .menu {
      width: 100%;
      max-width: 100%;
      margin-bottom: 20px;
    }

    .reservation {
      width: 100%;
      max-width: 100%;
      margin-bottom: 20px;
      margin-left: 0px;
    }
  }

  /* Extra large devices (grand desktops, 1200px et au-dessus) */
  @media (min-width: 1200px) {
    body {
      /* background-color: lightpink; */
    }
  }

  /* Dans votre fichier CSS */
  @media screen and (min-width: 992px) {
    .menuContainer {
      display: none;
    }
  }


  /* menu responsive */

  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    display: none;
  }

  .menu {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }

  .menu ul a {
    color: black;
  }

  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  .close-btn:hover {
    color: red;
  }