* {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'BrandonText', sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
}

p {
    text-align: justify;
    line-height: 1.7;
}

li {
    line-height: 1.7;
}

.container {
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #E1001C;
    padding: 20px;
}

/* Style de la navigation */
/* nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

ul li {
    margin-right: 20px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
 */

 nav {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Space items evenly */
  }
  
  .main-menu {
    display: flex; /* Only show for larger screens */
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  ul li {
    margin-right: 20px;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  .menu-toggle{
    display: none;
    color: white;
  }

  .menu-toggle svg {
    fill: white;
  } 

/* Style général du hero */
.hero {
    background-image: url("./images/header.jpg");
    background-size: cover;
    background-position: center;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.search-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 5px 10px;
    width: 1200px;
}

select,
input[type="text"] {
    width: 100%;
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border: none;
    border-radius: 3px;
}

.search-container span {
    margin-right: 10px;
    color: #333;
    font-weight: bold;
}

.search-container button {
    margin-left: 10px;
    color: white;
    padding: 10px;
    border-radius: 5px;
    background-color: #E1001C;
    border: none;
    font-weight: bold;
}

/* css utilitaire */

.pt-60 {
    padding-top: 60px;
}

.pb-60 {
    padding-bottom: 60px;
}

.pb-120{
    padding-bottom: 120px;
}

/* restau */

.restau{
    padding-bottom: 120px;
}

.restau_l  span{
    padding-top: 5px;
    padding-bottom: 5px;
}

.restau_l {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
}

.restau h1 {
    color: #E1001C;
    font-weight: bold;
}

.restau_l a {
    color: #0073bb;
    font-weight: bold;
}

.restau_card {
    display: flex;
    flex-direction: column;
    width: 33.33%;
    padding-right: 20px;
}

.restau_card img {
    margin-bottom: 20px;
    width: 400px;
}


/* footer */

footer {
    background-color: #353D40;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
}


/* 
  ---------------------------------
    detail page
  --------------------------------- */

.about {
    background-image: url("./images/about.jpg");
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.r_title {
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #2D333F;
    padding-bottom: 32px;
    border-bottom: .0625rem solid #d8d9db;
}

.r_des {
    color: #d8d9db;
}

.menu {
    width: 70%;
}

.overview {
    display: flex;
    /* align-items: flex-start; */
    
}

.reservation{
    margin-left: 100px;
}

.r-menu ul {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

.item-title {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    font-weight: bold;
}

/* 
  ---------------------------------
    a propos page
  --------------------------------- */

  .bg-cream{
    background-color: #FFF8EB;
  }


  /* 
  ---------------------------------
    contact page
  --------------------------------- */

  
  /* Formulaire de contact */
  
  form {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  textarea {
    height: 150px;
  }
  
  button[type="submit"] {
    background-color: #E1001C;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .contact {
    background-image: url("./images/contact.jpg");
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
 
.c_title {
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: white;
    padding-bottom: 32px;
    border-bottom: .0625rem solid #d8d9db;
}